.homeheading {
    width: 100%;
    height: 130px;
    background: #2051E5;
    border-radius: 0px 0px 19.0179px 19.0179px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    box-sizing: border-box;
}

.homeheading h1 {
    height: 28px;
    font-family: 'REM';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
    color: #FFFFFF;
    box-sizing: border-box;
}

.homeheading h3 {
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    display: inline;
    color: #FFFFFF;

}

.homeheading div {
    margin-top: 20px;
    margin-left: 40px;

}

.homeheading p {
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    display: inline;
    color: #e8e000;

}

.homeheading h6 {


    width: 80.81px;
    height: 16.35px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 13.3125px;
    line-height: 16px;

    color: #FFFFFF;


}

.homemain h3 {

    height: 21px;
    font-family: 'REM';
    font-style: normal;
    font-weight: 500;
    font-size: 17.1161px;
    line-height: 21px;
    color: #0D1829;
    margin: 20px 20px 10px 20px;
}


.time {
    box-sizing: border-box;
    width: 345px;
    height: 56px;
    background: #2051E5;
    border: 1px solid #D0D0D0;
    box-shadow: 0px 0.950893px 0.950893px 0.950893px rgba(0, 0, 0, 0.05);
    border-radius: 13.3125px;
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;

}

.break>.time {
    margin: 0px;
}


.time div {
    display: flex;
    justify-content: space-between;

}


.checkin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    color: #fff;
    margin: 10px 20px;

}

.time button {
    width: 14px;
    height: 36px;
    background-color: #c4c4c3;
    border-radius: 68px;
    border: 1px solid #fff;
    margin: 10px 20px;
}

.break {

    width: 345px;
    height: 264px;
    background-color: #e4e8f2;

    margin: 10px 20px;
}

.homeactivity {

    width: 347px;
    height: 170px;

    background: #E9E9E9;
    box-shadow: 0px 0.950893px 0.950893px 0.950893px rgba(0, 0, 0, 0.05);
    border-radius: 13.3125px;
    margin: 10px 20px;

}

.pastbreak {
    display: flex;
    justify-content: space-between;
}

.pastbreak>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 50px;
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first div {
    margin: 10px 10px 10px 20px;
}

.homemsg {


    font-family: 'REM';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.001em;

    color: #616161;


}