.employees {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.empmain {
    width: calc(100% - 220px);
    background-color: #fff;
}

.empbeforetab {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    width: 388px;
    height: 44px;
    background: #ECECEC;
    border-radius: 16px;
    margin: 32px 0px 32px 36px;


}

.search input {
    background-color: #ECECEC;
    border: none;
    height: 40px;
}

.search ::placeholder {

    font-family: 'REM';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #636060;
}

.search img {
    height: 32px;
    width: 32px;
    margin-left: 3px;
}

#addemp {
    width: 190px;
    height: 50px;
    background-color: #D9D9D9;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #636060;
    border: none;
    border-radius: 15px;
    margin: 7px 40px;

}

.empbeforetab h3 {
    margin: 10px 40px;

    width: 170px;
    height: 40px;
    font-family: 'REM';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: -0.0025em;
    color: #616161;


}

.empbox {
    box-sizing: border-box;
    width: 1108px;
    height: 620px;
    border: 1px solid #B1B1B1;
    border-radius: 16px;
    margin-left: 35px;


}

.popup-overlay-emp {


    position: fixed;
    /* fixed ensures it covers entire screen */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.emptab {
    padding-top: 40px;
}

.emppopup {
    background-color: #FFFFFF;
    height: 830px;
    width: 1094px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1001;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0px 4px 50px rgba(33, 33, 33, 0.08), 0px 4px 6px rgba(33, 33, 33, 0.04);
    border-radius: 16px;

}

.emptab input {
    box-sizing: border-box;
    width: 500.31px;
    height: 52.47px;
    border: 0.936902px solid #3E3E3E;
    border-radius: 11.2428px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 40px;
    color: #000000;

}

.emptab label {

    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17.2822px;
    line-height: 26px;
    color: #5E5E5E;
    display: block;
    margin-left: 40px;


}

.input-group {
    margin: 20px 0px;
}

.emppopupheading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 25px 20px 25px;
    box-sizing: border-box;
}

.emppopupheading h3 {

    width: 472px;
    height: 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.2px;
    color: #0B0B0B;

}

.emppopupheading img {
    height: 24px;
    width: 24px;
}

.emptab .save {
    width: 190px;
    height: 50px;
    background-color: #D9D9D9;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #636060;
    border: none;
    border-radius: 15px;
    margin: 180px 40px 0px 850px;
    box-sizing: border-box;
}

form {
    box-sizing: border-box;
}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 1070px;
    height: 100px;
    align-items: center;
    margin-left: 45px;
}

.pagination div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    gap: 8px;
    width: 114px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

.emptab th input {
    width: 20px;
    height: 20px;
    margin: 0px;
}

.emptab td input {
    width: 20px;
    height: 20px;
    margin: 0px;
}



th {
    height: 44px;
    box-sizing: border-box;
}

.employees-table tbody td {
    height: 72px;
    text-align: center;
    border: none;
    background-color: #fff;
}

.employees-table tbody tr {
    border: 1px solid #bebebe;
}

.employees-table {
    width: 1108px;
    border: none;
    border-collapse: collapse;
    padding: none;
}

.employees-table thead tr th:nth-child(1) {
    padding: 0;
}

.empid {

    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #091E42;
    background: #F5F6F7;
    border-radius: 16px;
    border: none;
    padding: 0px;


}